.awsome-app {
    max-width: 1415px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    /*padding-top: 52px;*/
    padding-bottom: 52px;
}

.awsome-app .main-img {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.feature {
    margin-left: 26px;
    margin-top: 45px;
    width: 32%;
}

.feature p {
    margin-top: 12px;
}

.performance {
    display: flex;
    align-items: center;
    margin-top: 86px;
}

.performance h4 {
    color: var(--secondary-pink-color);
}

.performance img {
    margin-top: 16px;
    display: block;
    width: auto;
}

.performacne-text {
    margin-left: 30px;
    margin-right: 10%;
}

.prototype {
    display: flex;
    align-items: center;
    margin-top: 55px;
}

.prototype h4 {
    color: var(--secondary-blue-color);
}

.vector {
    display: flex;
    align-items: center;
    margin-top: 55px;
}

.vector h4 {
    color: var(--secondary-green-color);
}



@media only screen and (max-width: 1400px) {

}

@media only screen and (max-width: 1200px) {
    .feature {
        width: 100%;
    }
    .awsome-app .main-img {
        width: 50%;
        height: 100%;
    }
}

@media only screen and (max-width: 992px) {
    .awsome-app {
        display: block;
        margin-left: 20px;
        margin-right: 20px;
    }
    .awsome-app .main-img {
        width: 100%;
    }
    .feature {
        margin-top: 0;
        margin-left: 20px;
    }
    .performance {
        margin-top: 40px;
    }
    .prototype {
        margin-top: 20px;
    }
    .vector {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 768px) {

}


@media only screen and (max-width: 576px) {

  }
