.choose-app {
    max-width: 1030px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.choose-app h3 {
    width: 48%;
    margin-left: auto;
    margin-right: auto;
}

.choose-app p {
    margin-top: 29px;
    width: 64%;
    margin-left: auto;
    margin-right: auto;
}

.services {
    display: flex;
    justify-content: center;
    max-width: 1030px;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    padding: 25px 0;
}

.grid {
    max-width: 310px;
    width: 100%;
    text-align: center;
    padding: 15px 15px 55px 15px;
}

.grid h4 {
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--primary-navy-color);
}


@media only screen and (max-width: 1400px) {

}

@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 992px) {
    .grid {
        padding-bottom: 15px;
    }
}

@media only screen and (max-width: 768px) {

}


@media only screen and (max-width: 576px) {
    .choose-app h3 {
        width: 70%;
    }
    .choose-app p {
        width: 90%;
    }
  }