.faq-container {
    padding-bottom: 100px;
}

.faq {
    max-width: 1030px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 135px;
    padding-bottom: 62px;
}

.faq h3 {
    margin-bottom: 27px;
    font-size: 40px;
}

.faq p {
    width: 64%;
    margin-left: auto;
    margin-right: auto;
}

.faq-text {
    max-width: 944px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f5f7fa;
    height: 260px;
}

.faq-text h4 {
    padding-top: 45px;
    padding-bottom: 29px;
    padding-left: 48px;
}

.faq-text p {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.other-faq-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 944px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    height: 64px;
    background-color: #f5f7fa;
}

.other-faq-text h4 {
    padding-left: 48px;
    color: var(--primary-navy-color);
}

.other-faq-text .add {
    padding-right: 34px;
    font-size: 26px;
    color: var(--primary-navy-color);
    font-weight: 800;
}



@media only screen and (max-width: 1400px) {

}

@media only screen and (max-width: 1200px) {
    .faq {
        padding-top: 62px;
    }
    .faq-container {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media only screen and (max-width: 992px) {

}

@media only screen and (max-width: 768px) {

}


@media only screen and (max-width: 576px) {

    .faq-text p {
        font-size: 12px;
    }
    .faq-text h4 {
        font-size: 14px;
    }
    .other-faq-text h4 {
        font-size: 14px;
    }

    .faq h3 {
        font-size: 30px;
    }
  }