.download-app {
    border-top: 1px solid #f4f4f4;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.download-app .img {
    display: block;
    margin-left: auto;
    width: 50%;
}

.download-text {
    margin-left: 11%;
}

.download-text h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.download-text .bedge1 {
    display: flex;
    margin-top: 48px;
    width: 66%;
    justify-content: space-around;
}


.footer {
    background-color: var(--primary-navy-color);
    text-align: center;
    padding-top: 50px;
}

.f-bar {
    display: flex;
    margin-top: 44px;
    margin-bottom: 44px;
}

.f-bar ul {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
}

.f-bar ul li {
    margin: 0px 18px;
}

.f-bar a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-family: var(--base-font);
    font-weight: var(--paragraph-font-weight);

}

.img-icon {
    margin-top: 44px;
    font-size: 32px;
    margin-bottom: 44px;
}

.img-icon .icon-color {
    color: #424c61;
    margin-left: 10px;
    margin-right: 10px;
}

.img-icon .icon-white {
    color: #ffffff;
    margin-left: 10px;
    margin-right: 10px;
}

.copyright {
    margin-top: 44px;
    padding-bottom: 50px;
}

.copyright span {
    font-size: 14px;
}


@media only screen and (max-width: 1400px) {

}

@media only screen and (max-width: 1200px) {
    .download-app {
        margin-left: 20px;
        margin-right: 20px;
    }
    .download-text {
        margin-left: 0;
    }
    .download-text .bedge1 {
        width: 100%;
        margin-bottom: 48px;
    }
}

@media only screen and (max-width: 992px) {

}

@media only screen and (max-width: 768px) {
    .download-app {
        display: block;
    }
    .download-app .img {
        width: 100%;
    }
}


@media only screen and (max-width: 576px) {
    .download-text h1 {
        font-size: 36px;
    }
    .f-bar ul {
        display: block;
    }
  }