.accordion-head {
    max-width: 1030px;
    margin-left: auto;
    margin-right: auto;
}


.accordion {
    width: 100%;
    padding: 18px;
    margin-bottom: 10px;
    text-align: left;
    background-color: #eee;
    border: none;
    outline: none;
    color: #444;
    transition: 0.4s;
    cursor: pointer;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    background-color: white;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}

.accordion:after {
    content: '\002b';
    color: #777;
    font-weight: 800;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}