.testimonial-background {
    display: flex;
    padding-top: 143px;
    padding-bottom: 143px;
    border-top: 1px solid #f4f4f4;
}

.testimonial-box {
    position: absolute;
    left: 50%;
    margin-right: 226px;
}

.testimonial-box h3 {
    margin-bottom: 26px;
}

.rating {
    margin-top: 36px;
    margin-bottom: 19px;
}

.testimonial-box h4 {
    margin-bottom: 24px;
}

.testimonial-box .star {
    font-size: 28px;
    color: #ffcc00;
}

.img-name {
    display: flex;
    align-items: center;
    margin-top: 62px;
}

.img-name .name-design {
    margin-left: 34px;
}

.img-name .name-design h4 {
    margin-bottom: 0;
    font-size: 18px;
}

.img-name .arrows {
    display: inline-flex;
    position: relative;
    margin-left: auto;
}

.img-name .arrows .arrow-left {
    font-size: 50px;
    color: #dee1e6;
}

.arrow-left::after {
    content: "";
    background: rgb(23, 23, 23);
    position: absolute;
    height: 33px;
    width: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.img-name .arrows .arrow-right {
    font-size: 50px;
    color: #2500f9;
}