.testimonial-background {
    display: flex;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    border-top: 1px solid #f4f4f4;
}

.testimonial-background .main-img {
    display: block;
    width: 50%;
}

.testimonial-box {
    left: 50%;
    margin-right: 226px;
}

.testimonial-box h3 {
    margin-bottom: 26px;
}

.rating {
    margin-top: 20px;
    margin-bottom: 20px;
}

.testimonial-box h4 {
    margin-bottom: 24px;
}

.testimonial-box .star {
    font-size: 28px;
    color: #ffcc00;
}

.img-name {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.img-name .name-design {
    margin-left: 34px;
}

.img-name .name-design h4 {
    margin-bottom: 0;
    font-size: 18px;
}

.img-name .arrows {
    display: inline-flex;
    margin-left: auto;
}

.img-name .arrows .arrow-left {
    font-size: 24px;
    color: #dee1e6;
    background: white;
    border-radius: 100%;
    border: 2px solid #eff3f8;
    padding: 9px;
    margin-right: 18px;
    position: relative;
}

.arrow-left::after {
    content: "";
    background: #e7e7e7;
    position: absolute;
    height: 28px;
    width: 1px;
    left: 53px;
    bottom: 6px;
}

.img-name .arrows .arrow-right {
    color: #2500f9;
    font-size: 24px;
    background: #dee1e6;
    border-radius: 100%;
    border: none;
    padding: 9px;
}



@media only screen and (max-width: 1400px) {

}

@media only screen and (max-width: 1200px) {
    .testimonial-background {
        padding-left: 20px;
        padding-right: 20px;
    }
    .testimonial-box {
        margin-right: 20px;
    }
}

@media only screen and (max-width: 992px) {

}

@media only screen and (max-width: 768px) {
    .testimonial-background {
        display: block;
    }
    .testimonial-background .main-img {
        width: 100%;
    }
    .testimonial-box h3 {
        margin-top: 26px;
    }
}


@media only screen and (max-width: 576px) {

  }